@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
:root {
  --font-primary: #3f3f3f;
  --font-secondary: #9e9c9a;
  --font-nav: #717171;
  --font-nav-active: #000408;
  --airbnb: #f04c5b;
  --border: #e8e8e8;
  --hover-color: #e8e9e9;
}
.desktop {
  display: none;
}
.mobile {
  display: none;
}
body {
  position: relative;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.boxshadow {
  box-shadow: 1px 1px 0.5px var(--border);
  transition: all 0.5s;
  cursor: pointer;
}

.boxshadow:hover {
  box-shadow: -1px 2px 2px 1px var(--hover-color);
}
header {
  padding: 1.5em;
  background-color: #f7f7f7;
  border-bottom: 0.3px solid #e8e8e8;
}
.title {
  font-weight: 500;
  color: var(--font-primary);
  text-transform: capitalize;
  font-size: 1rem;
}
.subtitle {
  font-weight: 400;
  color: var(--font-secondary);
  font-size: 1rem;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
img {
  max-width: 100%;
}
.sticky {
  position: sticky;
  top: 0;
  z-index: 10;
}
#header-title {
  text-transform: none;
  text-align: center;
}
#header-title a {
  color: var(--font-primary);
}
#nav {
  background-color: #ffff;
  width: 100%;
}
.nav-header {
  width: 95%;
  padding: 0.5em 0;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
}
.logo {
  justify-content: center;
  align-items: center;
}
.logo img {
  display: block;
  height: 60px;
}
.widget {
  justify-content: center;
  align-items: center;
}
.widgets {
  width: 80%;
  border: 0.5px solid var(--border);
  padding: 0.25em;
  gap: 0.75rem;
  border-radius: 15000px;
  justify-content: space-between;
}

.widgets button {
  height: 1 rem;
  font-size: 14px;
  font-weight: 700;
  text-transform: none;
  display: block;
  margin: 0.2rem 0;
  padding-left: 1rem;
  border: none;
  outline: none;
  background: none;
  border-left: 1px solid var(--border);
  cursor: pointer;
}
.widgets button:first-child,
.widgets button:last-child {
  border: none;
}
.search {
  width: 10%;
}

.menu {
  position: relative;
  justify-content: flex-end;
}
.toggle-menu {
  width: 80%;
  align-items: center;
}
.menu-container {
  justify-content: flex-end;
  align-items: center;
}
.menu-items {
  padding: 0.75em 1em;
  border-radius: 10000px;
  cursor: pointer;
  font-size: 14px;
  text-transform: none;
}
.menu-items:hover {
  background-color: #f7f7f7;
}
.globe {
  width: 15%;
}
.show-menu {
  padding: 0.25rem 0.25rem 0.25rem 0.75rem;
  border: 0.5px solid var(--border);
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  cursor: pointer;
}
.show-menu img {
  width: 20px;
  height: 20px;
}
.show-menu:hover {
  background-color: #ffff;
}
.hidden-menu {
  display: none;
  width: 60%;
  position: absolute;
  border: 1px solid var(--border);
  border-radius: 10px;
  top: 60px;
  box-shadow: 1px 1px 0.5px var(--border);
  background-color: #ffff;
  z-index: 200;
}
.nav-item {
  list-style: none;
  padding: 0.75em;
  cursor: pointer;
}
.nav-item:hover {
  background-color: var(--hover-color);
}
.nav-menu1,
.nav-menu2 {
  width: 100%;
  padding: 0.5em 0;
}
.nav-menu1 {
  border-bottom: 1px solid var(--border);
}

.nav-bar {
  width: 100%;
  padding: 1.25em;
  border-top: 1px solid var(--border);
  justify-content: space-between;
}
.nav-container {
  max-width: 85%;
  overflow: hidden;
}
.nav-items {
  gap: 1.5rem;
  white-space: nowrap;
}
.hidden-menu .nav-item {
  font-size: 14px;
  line-height: 25px;
}

.nav-bar .nav-item {
  font-size: 12px;
  font-weight: 500;
}
.nav-link img {
  height: 25px;
  filter: opacity(60%);
}

.nav-link {
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: var(--font-nav);
  gap: 1em;
  padding-bottom: 1em;
}
.nav-items .nav-item:hover {
  background: none;
}
.nav-link:hover img {
  filter: opacity(100%);
}
.nav-link:hover {
  border-bottom: 2px solid var(--border);
  color: var(--font-nav-active);
}
.active {
  color: var(--font-nav-active);
  border-bottom: 2px solid var(--font-nav-active);
}
.active img {
  filter: opacity(100%);
}
.active:hover {
  border-bottom: 2px solid var(--font-nav-active);
}
.nav-button {
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 25px;
  align-self: center;
  padding: 0.2em;
  transform: translateY(-10px);
}
.filter-btn {
  width: 10%;
  align-items: center;
  justify-content: flex-start;
}
.filter {
  width: 80%;
  padding: 1.5em;
  transform: translateY(-10px);
  outline: none;
  background: none;
  border: 1px solid var(--border);
  border-radius: 10px;
  font-size: 12px;
  font-weight: 500;
  color: var(--font-nav-active);
  cursor: pointer;
}
.filter i {
  margin-right: 1em;
}
.content {
  width: 100%;
  padding: 0 1.5em;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25em;
}
.content img {
  height: 280px;
  border-radius: 15px;
}
.cards {
  position: relative;
  flex-direction: column;
}

.desc-content {
  margin: 1em 0;
  flex-direction: column;
  gap: 0.2em;
}
.footer {
  position: fixed;
  height: 50px;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 1em;
  border-top: 1px solid var(--border);
  background-color: white;
}
.overlay {
  width: 100%;
  height: 280px;
  position: absolute;
  border-radius: 15px;
  flex-direction: column;
  justify-content: space-between;
}

.wishlist {
  padding: 0.75em;
  align-items: center;
  justify-content: flex-end;
}
.wishlist img {
  height: 35px;
  width: 25px;
  margin-right: 0.25em;
}
.overlay {
  cursor: pointer;
}
.overlay .nav-button {
  display: none;
  background-color: #ffff;
  align-self: flex-end;
  margin-right: 0.7em;
  box-shadow: none;
  transition: all 1s ease;
}
.overlay .nav-button:hover {
  background-color: var(--hover-color);
}
.overlay:hover .nav-button {
  display: flex;
}
.carousel {
  margin: 0 auto;
  padding-bottom: 1em;
  max-width: 50px;
  justify-content: space-between;
  gap: 5px;
  overflow: hidden;
  flex-wrap: nowrap;
}
.dot {
  display: block;
  height: 5px;
  min-width: 5px;
  border-radius: 50%;
  background-color: var(--font-secondary);
}
.dot-active {
  background-color: #ffff;
}

.show {
  display: block;
}
.footer {
  justify-content: space-between;
}
.footer-left {
  width: 50%;
}

.left-elements {
  gap: 0.5rem;
  margin: 1px;
}
.foot {
  font-weight: 300;
  font-size: 14px;
}
.foot-dot {
  display: block;
  height: 2px;
  min-width: 2px;
  border-radius: 50%;
  background-color: black;
  align-self: center;
}
.foot:hover {
  text-decoration: underline;
  cursor: pointer;
}
.elements :first-child:hover {
  text-decoration: none;
}
.footer-right {
  width: 50%;
}
.right-elements {
  width: 50%;
  margin: 0 50%;
  justify-content: space-between;
}
.rfoot img {
  height: 14px;
  width: 14px;
}
.right-elements .rfoot {
  font-size: 14px;
}
.rfoot:hover {
  text-decoration: underline;
  cursor: pointer;
}
.map {
  position: fixed;
  border-radius: 1000px;
  background-color: #222222;
  color: #ffff;
  padding: 1em 1.2em;
  top: 75%;
  left: 50%;
  transform: translate(-50%, 50%);
  transition: all 0.75s;
}
.map:hover {
  zoom: 103%;
  cursor: pointer;
}
.desc-item {
  justify-content: space-between;
}
.rating {
  font-weight: 400;
}
@media screen and (min-width: 745px) {
  .desktop {
    display: block;
  }
}
.mobile {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.mob-search i {
  font-size: 18px;
}
.stick-header {
  position: fixed;
  height: 130px;
  top: 0;
  border-bottom: 2px solid var(--border);
  z-index: 10;
  background-color: white;
  padding-top: 10px;
  width: 100%;
}
.mobile-header {
  border: 1px solid var(--border);
  border-radius: 1000px;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  padding: 0.25em 0.5em;
  align-items: center;
  box-shadow: 1px 1px 5px 1px var(--border);
  cursor: pointer;
}
.mobile-widget {
  align-items: center;
  gap: 1em;
  padding-left: 0.5em;
}
.mobile-dot {
  height: 2px;
  min-width: 2px;
  border-radius: 50%;
  background-color: black;
  align-self: center;
  list-style: none;
}
.mob-anywhere {
  font-weight: 400;
  line-height: 20px;
}
.mob-list {
  gap: 0.5rem;
  font-size: 12px;
  line-height: 16px;
}
.mobile-list {
  font-weight: 300;
}
.mobile-filter {
  border: 1px solid #c4c4c4;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}
.mobile-nav {
  width: 100%;
  overflow: overlay;
  margin-top: 0.5rem;
}
.mobile-nav::-webkit-scrollbar {
  width: 0 !important;
  scrollbar-gutter: unset;
}
.mobile-nav-items {
  gap: 0.75em;
  white-space: nowrap;
  font-size: 12px;
}
.mobile-nav-item {
  list-style: none;
  padding: 0.5em 0.5em 0em 0.5em;
  cursor: pointer;
}
.mobile-nav-link {
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: var(--font-nav);
  gap: 0.5em;
  padding-bottom: 1em;
}
.mobile-nav-link img {
  height: 25px;
  filter: opacity(60%);
}
.mobile-nav-item .active {
  color: var(--font-nav-active);
}
.mobile-nav-item .active img {
  filter: opacity(100%);
}

.mobile-main .content {
  grid-template-columns: 1fr;
  margin-top: 150px;
}
.mobile-front-footer {
  height: 30px;
  border-top: 1px solid var(--hover-color);
  border-bottom: 1px solid var(--hover-color);
  box-shadow: 1px 1px 5px 1px var(--border);
  background-color: #f0f0f0ee;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
}
.mobile-foot {
  justify-content: center;
  align-items: center;
}
.foot-items {
  padding: 1em 0;
  width: 50%;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}
.foot-text {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.foot-desc {
  font-size: 10px;
}
.foot-text i {
  font-size: 25px;
  color: #c4c4c4;
}
.mobile-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #ffff;
  width: 100%;
}
@media screen and (min-width: 551px) {
  .mobile-main .content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 744px) {
  .mobile {
    display: block;
  }
}
